<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <h1 th:text="#{account.title}"></h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <!--/*@thymesVar id="userForm" type="pl.sdacademy.todolist.dto.UserDto"*/-->
            <form th:action="@{/account}" method="post" th:object="${userForm}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="firstName" th:text="#{user.firstName}"></label>
                    <input id="firstName" type="text" th:class="form-control" th:errorclass="is-invalid"
                           th:field="*{firstName}"
                           th:placeholder="#{user.firstName.hint}">
                    <div class="invalid-feedback" th:text="${#fields.errors('firstName')}"></div>
                </div>
                <div class="form-group">
                    <label for="username" th:text="#{user.security.username}"></label>
                    <input id="username" type="text" th:class="form-control" th:errorclass="is-invalid"
                           th:field="*{username}"
                           th:placeholder="#{user.username.hint}"
                           disabled>
                    <div class="invalid-feedback" th:text="${#fields.errors('username')}"></div>
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{user.security.password}"></label>
                    <input id="password" type="password" th:class="form-control" th:errorclass="is-invalid"
                           th:field="*{password}"
                           th:placeholder="#{user.password.hint}">
                    <div class="invalid-feedback" th:text="${#fields.errors('password')}"></div>
                </div>
                <div class="form-row float-right">
                    <a th:href="@{/tasks}" class="btn btn-link" th:text="#{action.cancel}"></a>
                    <input type="submit" class="btn btn-primary" th:value="#{action.update}">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <h1 th:text="#{account.title.photo}"></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" enctype="multipart/form-data" th:action="@{/files/photo}">
                <div class="custom-file mb-2">
                    <input type="file" class="custom-file-input" id="photoFile" name="photo">
                    <label class="custom-file-label" for="photoFile" th:text="#{action.choose.file}"></label>
                </div>
                <div class="form-row float-right">
                    <input type="submit" class="btn btn-primary" th:value="#{action.upload}"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>