<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{todo.app.name}"></title>
</head>
<body>
<div th:replace="fragments :: header"></div>
<h1 th:text="#{todo.app.name}"></h1>
<div th:replace="fragments :: languages"></div>

<h1>Admin area</h1>
</body>
</html>