<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <h1 th:text="#{error.title} + ' :('"></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p th:text="${exception.message}"></p>
        </div>
    </div>
</div>
</body>
</html>