<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-center mb-3">
        <h1 class="display-4" th:text="#{todo.app.name}"></h1>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <form th:action="@{/tasks/edit}" method="post" th:object="${taskForm}">
                <div class="input-group mb-3">
                    <input type="hidden" th:field="*{id}">
                    <input type="text" class="form-control form-control-lg" id="description" th:field="*{description}"
                           th:placeholder="#{task.new}" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-lg" th:text="#{todo.save}"
                                type="submit"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>