<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-center mb-3">
        <h1 class="display-4" th:text="#{todo.app.name}"></h1>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <form th:action="@{/tasks}" method="post" th:object="${taskForm}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" id="description" th:field="*{description}"
                           th:placeholder="#{task.new}" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-lg" th:text="#{todo.save}"
                                type="submit"></button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="priority" th:text="#{todo.priority}"></label>
                    <select class="form-control" id="priority" th:field="*{priority}">
                        <!--/*@thymesVar id="priority" type="pl.sdacademy.todolist.entity.Priority"*/-->
                        <option th:each="priority: ${T(pl.sdacademy.todolist.entity.Priority).values()}"
                                th:value="${priority.name()}"
                                th:text="${priority.name()}"></option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center" th:each="task: ${taskList}">
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${task.description}"></h5>
                    <p th:text="${task.priority}"></p>
                </div>
                <div class="card-footer bg-transparent text-right text-secondary">
                    <a th:href="@{/tasks/{id}(id=${task.id})}"><i class="fas fa-edit mr-2"></i></a>
                    <a th:href="@{/tasks/{id}(id=${task.id},a='delete')}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>